/* change these */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --bg-color: #030373;
  --color-2: #ff32c2;
  --color-3: #d8f502;
  --color-4: #6a5fe0;
  --color-5: #e37eff;

  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", Arial, sans-serif;
  --main-text-color: white;

  --white-space: 1rem;
}

button {
  transition: all 1s;
}
a {
  transition: all 1s;
}
button:hover {
  background-color: var(--color-3);
  color: var(--bg-color);
}

button:active {
  background-color: var(--bg-color);
}

a:hover {
  color: var(--color-3);
  font-style: bold;
  /* font-size: 1.1rem; */
}
html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: 500;
  color: white;
}

.header-wrapper h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-2);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  /* font-style: italic; */
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
  background-color: var(--bg-color);
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  /* font-style: italic; */
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
  border: solid 1px white;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/purple_metallic.jpg) top left repeat;
  background-size: 100%;
}

.texture-swatch-2 {
  background: url(../img/neon_light.jpg) bottom right repeat;
  background-size: 200%;
}

.texture-swatch-3 {
  background: url(../img/wet_asphalt_lights.jpg) bottom center repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 4px;
  background: none;
  text-align: center;
  text-decoration: none;
  font: 1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: var(--color-3);
  text-transform: uppercase;
  /* text-shadow: 0px -1px 0px #0374a0; */
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  border: 2px solid var(--color-3);
}

.secondary-button {
  background: transparent;
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-2);
  text-transform: uppercase;
}

.h2-sample {
  font-family: var(--primary-font);
  /* font-style: italic; */
  font-size: 1.4rem;
  color: var(--color-3);
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--color-5);
  /* font-weight: bold; */
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives {
  background-color: var(--color-4);
  padding: calc(var(--white-space) * 1.5);
  width: 70%;
}

.adjectives ul {
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--color-3);
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 8vw;
    width: 25%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  /* .adjectives ul {
    flex-direction: row;
  } */
}
